@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply max-w-[1280px] mx-auto lg:px-10 px-4;
}

.pricingBackground {
  background: linear-gradient(to right, #93120f, #046865);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
